.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.backButton {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  padding: 16px 32px;
}

.content {
  max-width: 500px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 32px;

  .titleForm {
    width: 100%;
    margin-bottom: 32px;

    p {
      font-size: 18px;
      color: #737380;
      line-height: 32px;
    }
  }
}

.tabs {
  max-width: 500px;
  width: 100%;
}

.tabList {
  display: flex;
  border-bottom: 1px solid #CAC4D0;
  margin: 16px 0;

  >li {
    font-weight: 500;
    padding: 8px 16px;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.15)
    }
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.datePicker {
  min-width: 500px;
}

.inputWrapper {
  label {
    padding-left: 10px;
    color: #c1b5b5;
    font-weight: 500;
    font-size: 12px;
  }
}

.inputWrapperSelect {
  display: flex;
  align-items: flex-end;
  gap: 16px;

  >div {
    flex: 1;
  }

  button {
    width: max-content;

  }
}

.select {
  >div {
    min-height: 40px;
    border-radius: 8px;

    input {
      height: 0;
    }
  }
}