.container {
    width: 100%;
    max-width: 1400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /*box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);*/
}

.header {
    margin: 32px 64px;
}

.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form form {
    max-width: 350px;
    margin-top: 64px;
}

.form .inputWrapper {
    padding-bottom: 16px;
}

.form .inputWrapper label {
    padding-left: 10px;
    color: #c1b5b5;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
}

.form a {
    display: flex;
    align-items: center;
    margin-top: 24px;
    color: #41414d;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s;
}

.form form a svg {
    margin-right: 8px;
}

.form form a:hover {
    opacity: 0.8;
}